/* cards THREADS */
.first-row {
    margin-top: 40px !important;
}

.last-row {
    margin-bottom: 30px;
}

.card {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    box-sizing: border-box;
    padding: 5px ;
    transition: 600ms; 
    box-shadow: -1px 5px 20px 5px rgba(0, 0, 0, 0.342);
    margin-bottom: 14px;
}

.card:hover{
    -webkit-box-shadow: -1px 11px 42px 10px rgba(230,224,117,0.73);
    -moz-box-shadow: -1px 11px 42px 10px rgba(230,224,117,0.73);
    box-shadow: -1px 11px 42px 10px rgba(0, 0, 0, 0.73);
}

.card a{
    transition: 800ms;
    color: black !important;
    padding: 0;
}

.card a:hover{
    color: rgb(0, 0, 0) !important;
}

.card-text {
    padding: 20px 15px;
    margin-bottom: 10px !important;
}

.margin-bottom-card{
    margin-bottom: 100px;
}

.float-left {
    float: left;
}

/* LINKJES IN THREADS EN TOPICS */
.threads{
    text-transform: initial !important;
}

.topics {
    text-transform: initial !important;
}