/* mijn footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 0;
    background-color: #96B1D2;
    color: white;
    text-align: left;
    box-shadow: 0px 0px 8px 10px #2c25259d;
    padding: 10px 20px;
    transition: 1200ms;
}

/* a links in footer */
.afooter {
    display: inline-grid;
    transition: 1200ms;
    color: white;
    padding-right: 15px;
}

/* Een hover voor beleidsfooter */
.afooter:hover{    
    color: black !important;
    text-decoration: underline black !important;
}