html, body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    /* background-image: linear-gradient(to right, #9fc4ff, #05999b); */
    /* background-image: url("../img/bg.jpg"); */
    /* color: azure; */
    /* background-color: #9fc4ff !important; */
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/bg.jpg") !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    transition: 1.2s;
    color: aliceblue !important;
    min-height: 100vh;
}

/* alle links */
a {
    text-transform: uppercase;
    color: white !important;
    text-decoration: underline; 
    padding-right: 20px; 
}

.linkje {
    text-decoration: underline;
    text-transform: none;
    padding: 0
}

.doorverwijzen {
    text-transform: inherit;
}

.margin-bottom {
    margin-bottom: 350px !important;
}

.float-left {
    float: left !important;
}

.float-right{
    float: right !important;
}

.float-center {
    text-align: center !important;
}

.margin-right {
    margin-right: 5px;
}

.text-black {
    color: black !important;
}

.text-white {
    color: #ffffff !important;
}

input[type="text"] {
    color: black !important;
}

.mt-2 {
    margin-top: 20px !important;
}

.p-5 {
    padding: 0px 20px;
}

/* hier mijn Media query */

/* voor 640px */
@media only screen and (max-width: 640px) {
    .afooter{
        position: relative;
        text-align: left;
        margin-left: 60px;
        width: 100%;
    } 

    .margin-bottom {
        margin-bottom: 200px !important;
    }
}

/* voor 450px */
@media only screen and (max-width: 450px) {
    /* hier wil ik een media query maken die ervoor zorgt dat de gebruiker met zijn duim verder moet scrollen */
    .topnav {
        width: 450px;
    }
    .footer{
        width: 450px;
    }
}