#login{
    width: 300px; 
    margin: auto; 
    color: #337ab7 !important; 
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    transition: 600ms; 
    box-shadow: -1px 5px 20px 5px rgba(0, 0, 0, 0.342);
}

#login:hover{
    box-shadow: -1px 11px 42px 10px rgba(0, 0, 0, 0.73);
}

form label{
    font-weight: bold;
    color: #337ab7 !important;
}

form .text{ 
    color: #000 !important;
    border: solid 1px #666666;
    padding: 10px;
    margin-bottom: 20px;
}


form label, form input{
    display: block;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
}

form input{ 
    border: solid 1px #666666;
    padding: 10px;
    margin-bottom: 20px;
}

.alinks {
    color: #337ab7 !important;
}

.margin-top{
    margin-top: 20px;
}

.button {
    color: #ffffff !important;
}

.errorMsg{
    color: #cc0000;
    margin-bottom: 10px
}