.profielfoto {
    width: 100px;
    height: 100px;
    /* float: left; */
    border-radius: 50% !important;
    /*clip: rect(0, 0, 25, 25);*//*zorgt voor een uitsnede in een vorm van een vierkant*/
}

.profiel{
    /* height: 600px; */
    margin-bottom: 30px;
}

.foto{
    width: 300px;
    height: 300px;
    /* background-image: url("../img/pf1.jpg"); */
    border-radius: 50%;
    /* margin-bottom: 30px; */
    background-size: cover;
}

.btn-warning {
    background-color: transparent !important;
    border: 1px solid #eea236 !important; 
    float: right;
}

.btn-warning:hover {
    background-color: #eea236 !important;
    border: 1px solid #eea236 !important; 
}